$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-primary: var(--text-primary);
$accent-primary: var(--accent-primary);
$link-color: var(--link-color);

:root {
  --primary-color: #fff;
  --secondary-color: #f5f8eb;
  --text-primary: #392724;
  --accent-primary: #b0ffa0;
  --link-color: #2e7d18;
}
