@use "colors";

header {
  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        margin: 5px;

        p {
          margin: 0;
          padding: 0;
        }

        &:first-child {
          flex-grow: 1;
        }

        &:not(:first-child) {
          background: colors.$accent-primary;
          border-radius: 20px;
          padding: 5px 15px;

          a {
            color: colors.$link-color;
            text-decoration: none;
            font-size: 14pt;
          }
        }
      }
    }
  }

  &.phase1 {
  }

  &.phase2 {
    color: red;

    nav {
      background-color: rgb(0, 0, 0);
    }
  }

  &.phase3 {
  }
}
