@use "colors";

#wrapper {
  background: colors.$primary-color;
  color: colors.$text-primary;
  min-height: 100vh;

  &.phase3 {
    background-color: black;
    color: red;
  }
}

main {
  padding: 0 30px;

  .banner {
    .texts {
      h1,
      p {
        margin: 10px 0;
      }

      padding: 0 20px;
      align-content: center;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &.phase1 {
  }

  &.phase2 {
  }

  &.phase3 {
    background-color: black;

    .banner {
      height: 9rem;
    }

    section {
      background-color: red;
    }

    #admins section {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      background-color: black;

      img {
        width: 150px;
        height: 150px;
        margin-right: 20px;
      }
    }
  }
}
