@use "colors";

#wrapper {
    background: colors.$primary-color;
    color: colors.$text-primary;
    min-height: 100vh;

    &.phase3 {
        background-color: black;
        color: red;
    }
}

main {
    &.phase1 {
    }

    &.phase2 {
    }

    &.phase3 {
        background-color: black;

        section {
            background-color: red;
        }
    }
}
