$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-primary: var(--text-primary);
$accent-primary: var(--accent-primary);

:root {
  --primary-color: #979c83;
  --secondary-color: #b1b5a1;
  --text-primary: #392724;
  --accent-primary: #ffebab;
}
