@use "colors";

body {
  background: colors.$primary-color;
  color: colors.$text-primary;
}

nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      padding: 10px;

      &:first-child {
        flex-grow: 1;
      }
    }
  }
}

.banner {
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .texts {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
}

section {
  background: colors.$secondary-color;
}
